
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
}

:root {
  --accent: #4f46e5;
  --accent-bg: #e0e7ff;
  --accent-border: #6366f1;
  --text-h: #111;
  --border: #ccc;
}